version: "3.9"

services:
  backend:
    build: ./backend
    container_name: ecommerce-backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "127.0.0.1:5000:5000"
    networks:
      - postgres_net

  frontend:
    build: ./frontend
    container_name: ecommerce-frontend
    restart: always
    ports:
      - "127.0.0.1:3000:80"

networks:
  postgres_net:
    external: true
    name: postgres_default
